body{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	background-color: #FFF8DC;

}

*, *::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img{
	max-width: 100%;
}
 h1{
 	padding-top: 2rem;
 }

.elso{
	justify-content: space-around;
	display: flex;
	flex-wrap: wrap;
	border: 2px solid #8B4513;
	border-radius: 1rem;
	margin: 1rem 2rem 1rem 2rem
}

.gomb{
	border: 2px solid black;
	padding: .5rem 2rem .5rem 2rem;
	margin: .5rem .5rem;
	border-radius: 2rem;
	transition: .3s;
	background-color: #DEB887 ;
}
.gomb:hower{
	cursor:pointer;
	background-color: grey;
}

.masodik{
	border: 2px solid #8B4513;
	border-radius: 1rem;
	padding: 1rem 1rem 1rem 1rem;
	margin-left: 2rem;
	margin-right: 2rem;
	margin-bottom: 1rem;
	text-align: justify;

}
span{
	vertical-align: top;
}